#
# This file is compiled from requirements-dev.in.
# Update requirements-dev.in, then regenerate this file with:
#
#    pip-compile --output-file=requirements-dev.txt requirements-dev.in
#
-r requirements.txt
pytest==9.0.3
ruff==0.15.2
mypy==1.19.0
pre-commit==4.5.0
